name: GitHub-Profile-3D-Contrib

on:
  schedule:
    - cron: "0 0 * * *" # 매일 00:00 UTC에 실행
  workflow_dispatch: # 수동 실행 가능

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4
      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A .
          git diff --quiet HEAD || git commit -m "generated 3d-contrib"
          git push
